---
import BtnInicio from "../components/BtnInicio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Argumentos y Adjuntos - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Argumentos y Adjuntos</h1>
            <h2 class="text-center text-2xl font-light mb-14">Gramática</h2>
        </head>
    </main>
</Layout>