---
import BtnInicio from "../components/BtnInicio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Literatura de la Edad Media - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Categorías Gramaticales</h1>
        </head>
        <section id="contexto" class="text-left text-pretty">
            <h2 class="text-center text-2xl font-light mb-14">Clases de Palabras</h2>
            <img class="mx-auto px-2 max-h-[400px] rounded-2xl" src="/Categorias gramaticales.webp" alt="Ilustración de monjes de la Edad Media escribiendo">
        </section>
        <section class="mb-10 lg:-mb-8 text-left">
        </section>
    </main>
</Layout>