---
import BtnInicio from "../components/BtnInicio.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Categorías Gramaticales - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Categorías Gramaticales</h1>
        </head>
        <section id="contexto" class="text-left text-pretty">
            <h2 class="text-center text-2xl font-light mb-14">Clases de Palabras</h2>
            <img class="mx-auto px-2 max-h-[400px] rounded-2xl" src="/Categorias gramaticales.webp" alt="Mapa conceptual de Categorías Gramaticales">
        </section>
        <section class="mb-10 lg:-mb-8 text-left">
            <header class="ml-8 text-lg">
                <h2 class="text-2xl font-semibold mt-10 md:mt-16 mb-2 text-pretty">Clasificación de Palabras</h2>
                <p class="ml-4">Las palabras pueden ser <strong>variables</strong> o <strong>invariables:</strong></p>
                <ul class="list-disc ml-12">
                    <li><strong>Variables</strong>: Sustantivo, adjetivo, pronombre, verbo.</li>
                    <li><strong>Invariables</strong>: Adverbio, conjunción, preposición, interjección.</li>
                </ul>
            </header>
            <div class="flex flex-wrap justify-around gap-4 mt-8">
                <Card title="Sustantivo" info="Nombra personas, lugares o cosas. (SN)" info2="Ejemplo: casa, perro, coche." subtitle="Tipos de nombres:">
                    <ul class="list-disc">
                        <li>Animado | Inanimado</li>
                        <li>Común | Propio</li>
                        <li>Concreto | Abstracto</li>
                        <li>Individual | Colectivo</li>
                    </ul>
                </Card>
                <Card title="Adjetivo" info="Describe al sustantivo (SAdj)." info2="Ejemplo: grande, azul, rápido." subtitle="Tipos de adjetivos:">
                    <ul class="list-disc">
                        <li>Calificativos</li>
                        <li>Relacionales</li>
                        <li>Adverbiales</li>
                    </ul>
                </Card>
                <Card title="Verbo" info="Indica acción o estado (V)." info2="Ejemplo: correr, ser, tener."/>
                <Card title="Pronombre" info="Sustituye al sustantivo. (Pron)" info2="Ejemplo: él, ella, esto, nosotros."/>
                <Card title="Adverbio" info="Modifica verbo, adjetivo o adverbio. (Adv)" info2="Ejemplo: rápidamente, muy, aquí."/>
                <Card title="Preposición" info="Relaciona palabras en la oración. (Prep)" info2="Ejemplo: en, con, por."/>
                <Card title="Conjunción" info="Une palabras u oraciones. (Conj)" info2="Ejemplo: y, o, pero."/>
                <Card title="Interjecciones" info="Expresa emociones o reacciones. (Interj)" info2="Ejemplo: ¡Ah!, ¡Oh!, ¡Vaya!"/>
            </div>
        </section>
    </main>
</Layout>