---
import BtnInicio from "../components/BtnInicio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Literatura de la Edad Media - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
    </main>
</Layout>