---
import BtnInicio from "../components/BtnInicio.astro";
import LexicoyEtimologia from "../components/LexicoyEtimologia.astro";
import LexicoyMorfologia from "../components/LexicoyMorfologia.astro";
import Procesosdeformaciondepalabras from "../components/Procesosdeformaciondepalabras.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="La Composición de las Palabras - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">La Composición de las Palabras</h1>
            <h2 class="text-center text-2xl font-light mb-14">¿Cómo se forman las palabras?</h2>
        </head>
        <img class="my-10 mx-auto rounded-2xl h-[400px]" src="Composicion de palabras.webp" alt="Imagen de la composición de palabras">
        <LexicoyEtimologia/>
        <!-- <LexicoyMorfologia/> -->
         <Procesosdeformaciondepalabras/>
    </main>
</Layout>