---
import BtnInicio from "../components/BtnInicio.astro";
import LexicoyEtimologia from "../components/LexicoyEtimologia.astro";
import LexicoyMorfologia from "../components/LexicoyMorfologia.astro";
import Procesosdeformaciondepalabras from "../components/Procesosdeformaciondepalabras.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="La Composición de las Palabras - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">La Composición de las Palabras</h1>
            <h2 class="text-center text-2xl font-light mb-14">¿Cómo se forman las palabras?</h2>
        </head>
        <img class="my-10 mx-auto rounded-2xl h-[400px]" src="Composicion de palabras.webp" alt="Imagen de la composición de palabras">
        <LexicoyEtimologia/>
        <!-- <LexicoyMorfologia/> -->
        <Procesosdeformaciondepalabras/>
        <hr class="border-2 border-emerald-300 rounded-lg my-10">
        <section>
            <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">Reflexión de las dificultades y ejercicios</h2>
            <section class="text-justify">
                <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Reflexión</h3>
                <p class="mx-8 sm:mx-12 lg:mx-40 max-w-[800px]">Este apartado es uno de los más difíciles, en mi caso me ha costado mucho saber diferenciar entre compuestas, parasintéticas, luego también saber cuál es la raíz.</p>
            </section>
            <section class="text-justify">
                <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Ejercicios</h3>
                <div class="mb-10 grid grid-cols-1 lg:grid-cols-4 gap-4">
                    <div class="col-span-2">
                        <p class="ml-8 sm:ml-12 lg:ml-40 max-w-[800px]">El ejercicio que más difícil me pareció fue el del PDF III que había en el Classroom. Sobre todo en el apartado de encontrar las raíces y decidir si eran compuestas o parasintéticas.</p>
                    </div>
                    <img class="col-span-1 h-96 rounded-2xl" src="Ejercicio 1 formacion.jpg" alt="Ejercicio de formación de palabras">
                    <img class="col-span-1 h-96 rounded-2xl" src="Ejercicio 2 formacion.jpg" alt="Ejercicio de formación de palabras">
                </div>
            </section>
        </section>
    </main>
</Layout>