---
import BtnInicio from "../components/BtnInicio.astro";
import Card from "../components/Card.astro";
import H2 from "../components/H2.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="El léxico y su semántica - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">El léxico y su semántica</h1>
        </head>
        <section id="contexto" class="text-left text-pretty">
            <h2 class="text-center text-2xl font-light mb-14">¿Qué es la semántica?</h2>
            <img class="mx-auto px-2 max-h-[500px] rounded-2xl" src="/semantica.jpg" alt="Ilustración de la semántica">
        </section>
        <H2 titulo="Semántica"/>
        <Section titulo="Definición y tipos">
            <p><b>Semántica: </b>Es la ciencia que estudia el significado de las palabras. Hay dos tipos:</p>
            <ul class="list-disc ml-8 mt-2">
                <li><b>Síncrona</b>: Analiza los significados en un momento concreto.</li>
                <li><b>Diacrónica</b>: Analiza cómo cambian los significados a lo largo del tiempo.</li>
            </ul>
            <br>
            <p><b>Campo semántico: </b>Palabras de la misma categoría gramatical y con significado común.</p>
            <br>
            <p><b>Campo asociativo: </b>Palabras relacionadas por connotaciones, no por gramática.</p>
        </Section>
        <H2 titulo="Tipos y relaciones semánticas"/>
        <Section titulo="Tipos de significado">
            <ul class="list-disc">
                <li><b>Denotativo</b>: Es objetivo o literal (ej. “perro” = animal doméstico).</li>
                <li><b>Connotativo</b>: Es subjetivo o figurado (ej. “perro” = persona despreciable).</li>
            </ul>
        </Section>
        <Section titulo="Relaciones semánticas">
            <div class="flex flex-wrap justify-center gap-8 mt-8">
                <Card title="Monosemia" info="Una palabra con un solo significado" subtitle="'mesa' (mueble)"/>
                <Card title="Sinonimia" info="Dos o más palabras con el mismo significado" subtitle="'coche' y 'auto'"/>
                <Card title="Antonimia" info="Palabras con significados opuestos" subtitle="'bueno' y 'malo'"/>
                <Card title="Homonimia" info="Palabras que se escriben igual en forma o sonido pero con significados diferentes" subtitle="'banco' (entidad financiera) y 'banco' (mueble)"/>
                <Card title="Paronimia" info="Palabras que tienen un significado similar" subtitle="'feliz' y 'contento'"/>
                <Card title="Hiponimia e hiperonimia" info="Palabras con una relación de inclusión de unas dentro de otras" subtitle="'perro' es hipónimo de 'animal'"/>
            </div>
        <hr class="border-2 border-emerald-300 rounded-lg my-10">
        <section>
            <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">Reflexión de las dificultades y ejercicios</h2>
            <section class="text-justify">
            <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Reflexión</h3>
            <p class="mx-8 sm:mx-12 lg:mx-40 max-w-[800px]">Este apartado me ha costado entender, pero ahora que lo he estado estudiando me parece más fácil.</p>
            </section>
            <section class="text-justify">
            <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Ejercicios</h3>
            <div class="mb-10 grid grid-cols-1 lg:grid-cols-4 gap-4">
            <div class="col-span-2">
            <p class="ml-8 sm:ml-12 lg:ml-40 max-w-[800px]">Estas actividades se me hicieron fáciles, porque teníamos que buscar en el diccionario algunos ejercicios y eso las hizo más amenas.</p>
            </div>
            <img class="col-span-1 h-96 rounded-2xl" src="Ejercicioslexico1.png" alt="Ejercicio del léxico">
            <img class="col-span-1 h-96 rounded-2xl" src="Ejercicioslexico2.png" alt="Ejercicio del léxico">
            </div>
            </section>
        </section>
    </main>
</Layout>