---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="El Lazarillo de Tormes - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <a href="/lecturas_trimestrales" class="flex items-center justify-around text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-medium rounded-full text-xs md:text-sm px-2 py-1 me-2 mb-2 w-36 md:w-44 transition hover:scale-105">
            <img class="size-6 md:size-8" src="/icons/volver.svg" alt="Icono para volver al inicio de la página">
            <span>Volver a lecturas</span>
        </a>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">El Lazarillo de Tormes</h1>
            <h2 class="text-2xl font-light mb-14">Anónimo</h2>
        </head>
        <img class="max-h-[550px] mx-auto rounded-lg" src="/El_lazarillo_libro.jpg" alt="Libro de El Lazarillo de Tormes">
        <section class="text-left mt-32">
            <h2 class="text-3xl font-medium">Introducción</h2>
            <ul class="bg-emerald-50 border-2 border-black rounded-xl max-w-[550px] list-disc pl-10 mx-auto py-3 text-md md:text-lg mt-16">
                <li><span class="font-semibold">Título (Común):</span> "El Lazarillo de Tormes"</li>
                <li><span class="font-semibold">Título (Original):</span> "La vida de Lazarillo de Tormes y de sus fortunas y adversidades"</li>
                <li><span class="font-semibold">Autor:</span> Anónimo</li>
                <li><span class="font-semibold">Año de publicación:</span> 1554 (Siglo: mediados del XVI)</li>
            </ul>
        </section>
        <section class="text-justify mt-16">
            <h2 class="text-3xl font-medium mb-6">Introducción del autor y la obra</h2>
            <p class="px-8 text-lg max-w-[1000px]"><i>La vida de Lazarillo de Tormes y de sus fortunas y adversidades</i> (El Lazarillo de Tormes) es una novela publicada en el siglo XVI. El autor de esta obra es anónimo, se cree que la razón por la que el autor no firmó con su nombre era que, como la novela hablaba de temas controvertidos y hacía una crítica a la sociedad de esa época, sobre todo de la religión, podría haber tenido problemas con la censura o las autoridades religiosas. Esta novela pertenece al género de la picaresca.</p>
        </section>
        <section class="text-justify mt-16">
            <h2 class="text-3xl font-medium mb-6">Resumen general del libro</h2>
            <div class="px-8 text-lg max-w-[1000px]">
                <p><i>El Lazarillo de Tormes</i> narra la historia de un niño que escribe una carta a un juez para explicar su vida y justificar sus acciones en un delito que ha cometido, con la esperanza de librarse de los cargos.</p>
                <p>Todo comienza con su nacimiento en el río Tormes y su temprana orfandad. Desde entonces, pasa por diferentes amos, de los cuales ninguno era honorable, quienes, consciente o inconscientemente, lo forman de manera negativa, a través de la corrupción o la avaricia, entre otros.</p>
            </div>
        </section>
        <section class="text-justify mt-16 flex gap-16 justify-center">
            <Card title="Resumen de la teoría">
                <ul class="list-disc">
                    <li>Género: Novela picaresca</li>
                    <li>Estructura: Dividida en tratados</li>
                    <li>Narrador: Primera persona</li>
                    <li>Temas principales: Religión, honra e individualismo</li>
                </ul>
            </Card>
            <Card title="Personajes principales">
                <ul class="list-disc">
                    <li>Lázaro de Tormes</li>
                    <li>El ciego (Primer amo)</li>
                    <li>El clérigo (Segundo amo)</li>
                    <li>El escudero (Tercer amo)</li>
                    <li>El fraile de la Merced (Cuarto amo)</li>
                    <li>El buldero (Quinto amo)</li>
                    <li>El capellán (Sexto amo)</li>
                    <li>El alguacil (Séptimo amo)</li>
                </ul>
            </Card>
        </section>
    </main>
</Layout>