---
import Temas from '../components/Temas.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Apuntes Castellano">
	<main class="max-w-[1300px] mx-auto mb-14">
		<img class="h-96 mx-auto mb-20 rounded" src="/Celestinabanner.webp" alt="Foto de la Celestina">
		<h2 class="text-3xl font-bold">Temas Principales</h2>
		<Temas></Temas>
	</main>
</Layout>