---
import Temas from '../components/Temas.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Apuntes Castellano">
	<main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 xl:mt-40">
		<img class="w-max xl:max-w-[1000px] aspect-auto mx-auto mb-10 rounded" src="/Mio cid.webp" alt="Imagen del cantar del Mio Cid, uno d elos libros mas conocidos de la Edad Media">
		<p class="text-wrap max-w-[1000px] mx-auto px-5 mb-16">Aqui encontrarás los apuntes de castellano de 1º de Bachillerato, una assignatura muy importante, ya que es clave para la comprensión lectora, la expresión escrita y oral, nos ayuda a entender los problemas que te encuentras.
		<h2 class="text-3xl font-bold">Temas Principales (Índice)</h2>
		<Temas></Temas>
	</main>
</Layout>