---
import Temas from '../components/Temas.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Apuntes Castellano">
	<main class="max-w-[1300px] mx-auto px-6 mb-14 mt-40">
		<img class="h-96 mx-auto mb-6 rounded" src="/Celestinabanner.webp" alt="Foto de la Celestina">
		<p class="text-wrap max-w-[700px] mx-auto px-5 mb-14">Aqui encontrarás los apuntes de castellano de 1º de Bachillerato, una assignatura muy importante, ya que es clave para la comprensión lectora, la expresión escrita y oral, nos ayuda a entender los problemas que te encuentras.
		<h2 class="text-3xl font-bold">Temas Principales (Índice)</h2>
		<Temas></Temas>
	</main>
</Layout>