---
import Layout from "../layouts/Layout.astro";
import BtnInicio from "../components/BtnInicio.astro"
import { capitulos } from "../lib/capitulos";
---

<Layout title="La Celestina - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">La Celestina</h1>
            <h2 class="text-2xl font-light mb-14">Fernando de Rojas</h2>
        </head>
        <img class="max-h-[550px] mx-auto rounded-lg" src="/La_celestina_libro.jpg" alt="Libro de la Celestina de Fernando de Rojas">
        <section class="text-left mt-20 md:mt-32">
            <h2 class="text-3xl font-medium">Resumen por capítulos</h2>
            {
                capitulos.map(capitulo =>(
                    <section class="bg-slate-100 rounded-xl my-4 mx-2 md:mx-12 py-4 px-4 md:px-6">
                        <h3 class="text-xl font-medium">Capítulo {capitulo.capitulo}</h3>
                        <p class="mx-3 md:mx-12">{capitulo.resumen}</p>
                    </section>
                ))
            }
        </section>
    </main>
</Layout>