---
import BtnInicio from "../components/BtnInicio.astro";
import Comparacion from "../components/Comparacion.astro";
import ContextoEM from "../components/ContextoEM.astro";
import Layout from "../layouts/Layout.astro";
import MesterJuglaria from "../components/MesterJuglaria.astro";
---

<Layout title="Literatura de la Edad Media - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Literatura de la Edad Media</h1>
        </head>
        <section id="contexto" class="text-left text-pretty">
            <h2 class="text-center text-2xl font-light mb-14">Contexto Histórico y Cultural</h2>
            <img class="mx-auto px-2 max-h-[500px] rounded-2xl" src="/Literatura_edad_media.jpg" alt="Ilustración de monjes de la Edad Media escribiendo">
            <ContextoEM/>
            <MesterJuglaria/>
            <Comparacion/>
        </section>
    </main>
</Layout>