---
import BtnInicio from "../components/BtnInicio.astro";
import Comparacion from "../sections/Comparacion.astro";
import ContextoEM from "../sections/ContextoEM.astro";
import Layout from "../layouts/Layout.astro";
import MioCid from "../sections/MioCid.astro";
import Mester from "../sections/Mester.astro";
---

<Layout title="Literatura de la Edad Media - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Literatura de la Edad Media</h1>
        </head>
        <section id="contexto" class="text-left text-pretty">
            <h2 class="text-center text-2xl font-light mb-14">Contexto Histórico y Cultural</h2>
            <img class="mx-auto px-2 max-h-[500px] rounded-2xl" src="/Literatura_edad_media.jpg" alt="Ilustración de monjes de la Edad Media">
            <ContextoEM/>
            <section class="mb-10 lg:-mb-8">
                <h4 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6 text-pretty">Cantares de gesta</h4>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:mb-6 mx-8 sm:mx-12 lg:mx-40">
                    <div class="mt-4">
                        <p class="mb-6">Son narraciones extensas <strong>escritas en verso</strong> en las que se relatan <strong>historias y sucesos legendarios</strong> en los que <strong>un héroe representa los valores del pueblo</strong>.</p>
                        <p>Los cantares de gesta, al ser orales, <strong>se conservan muy pocos</strong>, y la mayoría, al ser escritos como una ayuda, <strong>están muy mal conservados</strong> y hay muchas variaciones de los relatos.</p>
                    </div>
                    <img class="lg:relative lg:-top-14 w-2/3 lg:w-auto lg:max-w-[500px] mx-auto lg:mx-0" src="/Cantar_de_gesta.png" alt="Hoja de un ejemplar de cantar de gesta en mal estado">
                </div>
            </section>
            <Mester/>
            <Comparacion/>
            <MioCid/>
        </section>
    </main>
</Layout>