---
import BtnInicio from "../components/BtnInicio.astro";
import Card from "../components/Card.astro";
import H2 from "../components/H2.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Literatura del Barroco - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Literatura del Barroco</h1>
        </head>
        <section id="contexto" class="text-left text-pretty">
            <h2 class="text-center text-2xl font-light mb-14">Contexto histórico y principales autores</h2>
            <img class="mx-auto px-2 max-h-[500px] rounded-2xl" src="/Literatura_barroco.jpg" alt="Ilustración del barroco">
        </section>
        <H2 titulo="Contexto Histórico"/>
        <Section titulo="Características">
            <ul class="list-disc">
                <li><b>Época de crisis en Europa</b>: guerras de religión, tensiones políticas y sociales.</li>
                <li>División entre católicos y protestantes.</li>
                <li><b>El Barroco continúa con el Renacimiento</b>, pero con una visión más pesimista.</li>
                <li>El arte se amplía a <b>toda la creación del ser humano</b>.</li>
                <li>El Barroco se caracteriza por <b>sobrecargar las cosas</b> y la acumulación de elementos y contraste.</li>
                <li>Ahora ya <b>no se busca la belleza ideal</b>.</li>
            </ul>
        </Section>
        <Section titulo="Mentalidad Barroca">
            <div class="grid grid-cols-2 gap-8">
                <div>
                    <p class="text-balance">El <b>desengaño</b> es la actitud central del hombre barroco, fruto de la crisis política y social del siglo XVII. Esta visión pesimista crea una <b>depreciación de la realidad</b> que se ve reflejada en temas literarios como <em>el dilema entre ser y parecer</em>, la <em>locura</em>, la <em>vida como sueño o teatro</em>, y el uso del <em>disfraz y el engaño</em>.</p>
                    <br>
                    <p>Frente a una realidad decepcionante, el arte recurre al <b>conceptismo</b> y al <b>culteranismo</b>. Las personas del Barroco se dividen en el <b>estoicismo cristiano (senequismo)</b> y el <b>epicureísmo moderado</b>, que busca consuelo en los pequeños placeres.</p>
                </div>
                <img class="rounded-xl -mt-8 h-72" src="mentalidad barroca.jpg" alt="">
            </div>
        </Section>
        <Section titulo="Conceptismo vs Culteranismo">
            <div class="relative overflow-x-auto z-0 shadow-xl text-justify">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-emerald-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 col-span-2">
                                Característica
                            </th>
                            <th scope="col" class="px-6 py-3 col-span-2">
                                Conceptismo (Quevedo)
                            </th>
                            <th scope="col" class="px-6 py-3 col-span-2">
                                Culteranismo (Góngora)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b hover:bg-emerald-100">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Contenido
                            </th>
                            <td class="px-6 py-4">
                                El contenido prevalece sobre la forma. Lo importante es el contenido que se transmite.
                            </td>
                            <td class="px-6 py-4">
                                La forma prevalece sobre el contenido. El estilo es algo muy complejo y que solo entenderá la gente con muchos estudios.
                            </td>
                        </tr>
                        <tr class="bg-white border-b hover:bg-emerald-100">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Sintaxis
                            </th>
                            <td class="px-6 py-4">
                                Sintaxis sencilla, directa y clara. Verbos omitidos en ocasiones (elipsis).
                            </td>
                            <td class="px-6 py-4">
                                Sintaxis compleja con sobrecarga de elementos literarios. Construcciones oracionales extensas.
                            </td>
                        </tr>
                        <tr class="bg-white border-b hover:bg-emerald-100">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Estilo
                            </th>
                            <td class="px-6 py-4">
                                Estilo sencillo.
                            </td>
                            <td class="px-6 py-4">
                                Estilo complejo. Se busca la belleza por encima de todo.
                            </td>
                        </tr>
                        <tr class="bg-white border-b hover:bg-emerald-100">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Figuras Retóricas
                            </th>
                            <td class="px-6 py-4">
                                Metáforas, antítesis, paradojas y juegos de palabras.
                            </td>
                            <td class="px-6 py-4">
                                Metáforas e hipérbaton. Se usan para complicar la lectura.
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </Section>
        <H2 titulo="Francisco de Quevedo"/>
        <Section titulo="Vida y contexto">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
                <p>Francisco de Quevedo fue un escritor y político nacido en una familia noble, conocido por su inteligencia y sus sátiras. Estuvo al servicio del duque de Osuna, lo que le llevó al destierro y a la cárcel ya que el duque Osuna cayó en desgracia y fue destronado. Su obra refleja una visión pesimista y crítica del mundo que lo rodeaba.</p>
                <img class="rounded h-64" src="Francisco de Quevedo.jpg" alt="Ilustración de Francisco de Quevedo" />
            </div>
        </Section>
        <Section titulo="Características">
            <ul class="list-disc">
                <li>Autor referente del conceptismo</li>
                <li>Aborda temas como la fugacidad de la vida, la crítica social y la muerte.</li>
                <li>Emplea un tono satírico e irónico para referirse a vicios y defectos de la sociedad.</li>
                <li>Representación pesimista del mundo que lo rodea</li>
            </ul>
        </Section>
        <Section titulo="Su poesía">
            <section class="flex flex-wrap gap-2 justify-around mt-8">
                <Card title="Poemas metafísicos y morales" info="Reflexiones sobre la vida, la muerte y el paso del tiempo, influenciado por el estoicismo cristiano." info2="Temas recurrentes: el desengaño, la vanidad de la vida y la decadencia de España."/>
                <Card title="Poemas amorosos" info="Utiliza antítesis y paradojas en el amor, destacando los 'Poemas a Lisi', donde el amor y la muerte se fusionan."/>
            </section>
            
        </Section>
        <Section titulo="Rimas y leyendas">
            <p>Es una de sus mayores obras, en ella recopila muchos de sus poemas y leyendas que nos ponen en contexto de su estado emocional en ese momento. En la parte de las rimas se identifican las diferentes etapas de su vida analizando cada rima.</p>
            <button class="mt-8 ml-4 hover:scale-105 transition-all hover:underline ">
                <a href="rimas_y_leyendas" class="bg-emerald-300 opacity-80 px-4 py-2 rounded-lg">
                Ver más información sobre las rimas y leyendas</a>
            </button>
            
        </Section>
        <H2 titulo="Luis de Góngora"/>
        <Section titulo="Vida y contexto">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
                <p>Luis de Góngora fue un poeta y sacerdote cordobés, perteneciente a una familia noble. Vivió en una época de tensiones políticas y literarias. Su vida estuvo marcada por dificultades económicas.</p>
                <img class="rounded h-64" src="Luis de Gongora.webp" alt="Ilustración de Luis de Góngora" />
            </div>
        </Section>
        <Section titulo="Características">
            <ul class="list-disc">
                <li>Máximo representante del culteranismo</li>
                <li>Uso abundante de metáforas, cultismos y estructuras sintácticas complejas</li>
                <li>Busca elevar el lenguaje poético alejándolo del habla cotidiana</li>
                <li>Preferencia por temas mitológicos, la belleza idealizada y la naturaleza</li>
            </ul>
        </Section>
        <Section titulo="Su poesía">
            <section class="flex flex-wrap gap-2 justify-around mt-8">
                <Card title="Poemas mayores" info="‘Fábula de Polifemo y Galatea’ y ‘Las Soledades’ son sus obras más ambiciosas, con un lenguaje muy elaborado." info2="Exploran temas como el amor, la mitología y la naturaleza desde una perspectiva idealizada y estética."/>
                <Card title="Poemas menores" info="Composiciones más breves como romances, letrillas y sonetos, donde mantiene su estilo culto pero con tono satírico o burlesco."/>
            </section>
        </Section>
        <H2 titulo="Lope de Vega"/>
        <Section titulo="Vida y contexto">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
                <p>Lope de Vega fue un dramaturgo y poeta madrileño, considerado uno de los pilares del Siglo de Oro. Participó activamente en la vida política y religiosa de su época. Escribió más de mil obras dramáticas.</p>
                <img class="rounded h-64" src="Lope de Vega.jpg" alt="Ilustración de Lope de Vega" />
            </div>
        </Section>
        <Section titulo="Características">
            <ul class="list-disc">
                <li>Reformador del teatro con la "comedia nueva".</li>
                <li>Lenguaje accesible, mezcla de lo culto y lo popular.</li>
                <li>Gran dominio de los distintos géneros literarios: lírica, épica y drama.</li>
                <li>Temas recurrentes: el amor, el honor, la religión y el conflicto entre lo individual y lo colectivo.</li>
            </ul>
        </Section>
        <Section titulo="Su poesía">
            <section class="flex flex-wrap gap-2 justify-around mt-8">
                <Card title="Poesía amorosa" info="Inspirada en sus relaciones personales, muestra una mezcla de pasión y espiritualidad." info2="Recoge influencias petrarquistas pero con un tono más directo."/>
                <Card title="Poesía religiosa y épica" info="Obras como ‘La hermosura de Angélica’ y sus sonetos religiosos revelan su dimensión espiritual y patriótica."/>
            </section>
        </Section>
        <H2 titulo="Quevedo vs Góngora"/>
        <Section titulo="Rivalidad">
            <div class="grid grid-cols-3 gap-8 max-w-6xl">
                <div class="col-span-2">
                    <p>Quevedo y Góngora tenían una rivalidad muy fuerte. Quevedo llegaba a llamar a Góngora judío (en aquella época era un insulto muy fuerte), que significaba persona poco confiable.</p>
                    <br>
                    <p>La diferencia entre estos dos poetas era que Quevedo era partidario del Conceptismo y Góngora pertenecía al Culteranismo. Con estas razones también elaboraban más poemas, diciendo que uno es muy básico o que el otro le da vueltas a sus poemas...</p>
                    <br>
                    <p>Góngora, aparte de tener una rivalidad en contra de Quevedo, también estaba en contra de Lope de Vega.</p>
                </div>
                <img class="rounded-xl" src="Quevedo-vs-Gongora.png" alt="Fotografía de Quevedo y Góngora"/>
            </div>
        </Section>
        <hr class="border-2 border-emerald-300 rounded-lg my-10">
        <section>
            <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">Reflexión de las dificultades y ejercicios</h2>
            <section class="text-justify">
            <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Reflexión</h3>
            <p class="mx-8 sm:mx-12 lg:mx-40 max-w-[800px]">Este apartado es bastante fácil, diferenciar entre culteranismo y conceptismo era bastante sencillo.</p>
            </section>
            <section class="text-justify">
            <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Ejercicios</h3>
            <div class="mb-10 grid grid-cols-1 lg:grid-cols-4 gap-4">
                <div class="col-span-2">
                <p class="ml-8 sm:ml-12 lg:ml-40 max-w-[800px]">En este caso solo hemos hecho unas actividades que me parecieron fáciles.</p>
                </div>
                <img class="col-span-1 h-96 rounded-2xl" src="EjercicioBarroco1.png" alt="Ejercicio de literatura barroca">
                <img class="col-span-1 h-96 rounded-2xl" src="EjercicioBarroco2.png" alt="Ejercicio de literatura barroca">
            </div>
            </section>
        </section>
    </main>
</Layout>