---
import BtnInicio from "../components/BtnInicio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Perífrasis Verbales y Locuciones - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Perífrasis Verbales y Locuciones</h1>
            <h2 class="text-center text-2xl font-light mb-14">Gramática</h2>
        </head>
        <section class="text-start">
            <h3 class="text-start text-3xl font-medium max-w-lg text-balance">Perífrasis Verbales</h3>
            <list class="mx-4 sm:mx-8 mt-4 list-decimal">
                <li>Solo hay una acción</li>
                <li>El verbo auxiliar pierde su significado</li>
                <li>No se puede sustituir el verbo en forma no personal por un sintagma nominal ni una oración subordinada</li>
                <li>No se puede sustituir el verbo principal por un pronombre</li>
            </list>
            <img class="mx-auto" src="Perifrasis verbales mapa conceptual.png" alt="Mapa Conceptual de perífrasis verbales">
        </section>
        <section class="text-start">
            <h3 class="text-start text-3xl font-medium max-w-lg text-balance">Locuciones </h3>
            <list class="mx-4 sm:mx-8 mt-4 list-decimal">
                <li>Aparecen en el diccionario</li>
                <li>Pueden admitir cambios de género y de número</li>
                <li>No se puede sustituir el verbo en forma no personal por un sintagma nominal ni una oración subordinada</li>
                <li>No se puede sustituir el verbo principal por un pronombre</li>
            </list>
            <img class="mx-auto" src="Locuciones mapa conceptual.png" alt="Mapa Conceptual de locuciones">
        </section>
        <section>
            <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">Reflexión de las dificultades y ejercicios</h2>
            <section class="text-justify">
            <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Reflexión</h3>
            <p class="mx-8 sm:mx-12 lg:mx-40 max-w-[800px]">Este apartado es bastante fácil, lo único que hay que hacer es saberse los tipos, pero luego identificarlos es fácil.</p>
            </section>
            <section class="text-justify">
            <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Ejercicios</h3>
            <div class="mb-10 grid grid-cols-1 lg:grid-cols-3 gap-4">
                <div class="col-span-2">
                <p class="ml-8 sm:ml-12 lg:ml-40 max-w-[800px]">El ejercicio que más difícil me pareció fue el de análisis inverso de perífrasis. Pero no por el tema, sino porque el análisis inverso no lo acabo de entender ni de hacer bien, me cuesta bastante.</p>
                </div>
                <img class="col-span-1 h-96 rounded-2xl" src="Ejercico-analisis-inverso.webp" alt="Ficha del renacimiento">
            </div>
            </section>
        </section>
    </main>
</Layout>