---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rimas y Leyendas de Béquer - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <a href="/lecturas_trimestrales" class="flex items-center justify-around text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-medium rounded-full text-xs md:text-sm px-2 py-1 me-2 mb-2 w-36 md:w-44 transition hover:scale-105">
            <img class="size-6 md:size-8" src="/icons/volver.svg" alt="Icono para volver al inicio de la página">
            <span>Volver a lecturas</span>
        </a>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Rimas y Leyendas de Béquer</h1>
            <h2 class="text-2xl font-light mb-14">Gustavo Adolfo Bécquer</h2>
        </head>
        <img class="max-h-[550px] mx-auto rounded-lg" src="/Rimas_y_Leyendas_libro.jpg" alt="Portad del libro de Rimas y Leyendas de Béquer">
    </main>
</Layout>