---
import BtnInicio from "../components/BtnInicio.astro";
import H2 from "../components/H2.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Valores del se - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio/>
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Valores del se</h1>
        </head>
        <section id="contexto" class="text-left text-pretty">
            <h2 class="text-center text-2xl font-light mb-14">Los valores del se</h2>
            <img class="mx-auto px-2 max-h-[500px] rounded-2xl" src="/tipos_del_se.jpg" alt="Tipos del se">
        </section>
        <H2 titulo="Valores del se" />
        <section class="flex flex-wrap gap-8 justify-center mt-8">
            <Card title="Variante del le" info="Función Sintáctica: CI" info2="Cuando el le coincide con un CD pronominal (lo, la, los, las)"/>
            <Card title="Reflexivo" info="Función Sintáctica: CD o CI" info2="El sujeto hace y recibe la acción. Se puede añadir 'a sí mismo'"/>
            <Card title="Recíproco" info="Función Sintáctica: CD o CI" info2="Hay varios sujetos que intercambian la acción. Se puede añadir 'uno al otro'."/>
            <Card title="Dativo" info="Función Sintáctica: Ninguna" info2="El pronombre se puede omitirse sin cambiar el sentido lógico."/>
            <Card title="Verbo pronominal" info="Función Sintáctica: Ninguna" info2="El pronombre forma parte del verbo. El verbo se vuelve intransitivo."/>
            <Card title="Pasiva refleja" info="Función Sintáctica: Ninguna" info2="Se usa se + verbo en 3ª persona para expresar una pasiva."/>
            <Card title="Impersonal" info="Función Sintáctica: Ninguna" info2="No hay sujeto. Se usa se + verbo en 3ª persona del singular."/>
            <Card title="Voz media" info="Función Sintáctica: Ninguna" info2="El sujeto no es agente ni paciente. La acción ocurre 'sola'."/>
        <hr class="border-2 border-emerald-300 rounded-lg my-10">
        <section>
            <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">Reflexión de las dificultades y ejercicios</h2>
            <section class="text-justify">
            <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Reflexión</h3>
            <p class="mx-8 sm:mx-12 lg:mx-40 max-w-[800px]">Este apartado ha sido fácil, ya que solo era saberse la tabla y los elementos se diferencian muy fácilmente.</p>
            </section>
            <section class="text-justify">
            <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Ejercicios</h3>
            <div class="mb-10 grid grid-cols-1 lg:grid-cols-4 gap-4">
            <div class="col-span-2">
            <p class="ml-8 sm:ml-12 lg:ml-40 max-w-[800px]">Las dos fichas que hicimos tenían el mismo nivel, para mí un nivel medio, pero me salieron bastante bien.</p>
            </div>
            <img class="col-span-1 h-96 rounded-2xl" src="EjerciciosSe1.png" alt="Ejercicio de los tipos del se">
            <img class="col-span-1 h-96 rounded-2xl" src="EjerciciosSe2.png" alt="Ejercicio de los tipos del se">
            </div>
            </section>
        </section>
    </main>
</Layout>