<section>
    <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Mester de Juglaría vs Mester de Clerecía</h2>
    <div class="relative overflow-x-auto z-0 shadow-xl">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Característica
                    </th>
                    <th scope="col" class="px-6 py-3 col-span-2">
                        Mester de Juglaría
                    </th>
                    <th scope="col" class="px-6 py-3 col-span-2">
                        Mester de Clerecía
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b hover:bg-slate-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Agente
                    </th>
                    <td class="px-6 py-4">
                        Juglar
                    </td>
                    <td class="px-6 py-4">
                        Clérigo (Sacerdote)
                    </td>
                </tr>
                <tr class="bg-white border-b hover:bg-slate-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Destinatario
                    </th>
                    <td class="px-6 py-4">
                        Una población mayoritariamente analfabeta
                    </td>
                    <td class="px-6 py-4">
                        Una población mayoritariamente analfabeta
                    </td>
                </tr>
                <tr class="bg-white border-b hover:bg-slate-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Transmisión
                    </th>
                    <td class="px-6 py-4">
                        Oral: Juglares, en plazas y castillos; recitado con música
                    </td>
                    <td class="px-6 py-4">
                        Difundidas por religiosos, en monasterios o iglesias; leídas en voz alta
                    </td>
                </tr>
                <tr class="bg-white border-b hover:bg-slate-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Métrica
                    </th>
                    <td class="px-6 py-4">
                        Tiradas irregulares de versos; monorrimos en asonante; anisosilabismo
                    </td>
                    <td class="px-6 py-4">
                        Estrofas regulares: de cuatro versos alejandrinos monorrimos en consonante: cuaderna vía. + otras formas (zéjel, serranillas...)
                    </td>
                </tr>
                <tr class="bg-white border-b hover:bg-slate-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Técnica
                    </th>
                    <td class="px-6 py-4">
                        Descuidada y espontánea
                    </td>
                    <td class="px-6 py-4">
                        Rigurosa y sometida a las reglas de la métrica
                    </td>
                </tr>
                <tr class="bg-white border-b hover:bg-slate-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Personajes
                    </th>
                    <td class="px-6 py-4">
                        Predominio de personajes históricos
                    </td>
                    <td class="px-6 py-4">
                        Predominio de personajes imaginarios (mitológicos, animales...)
                    </td>
                </tr>
                <tr class="bg-white border-b hover:bg-slate-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Temas
                    </th>
                    <td class="px-6 py-4">
                        Hazañas del héroe (tema bélico) Exaltación del guerrero
                    </td>
                    <td class="px-6 py-4">
                        Variedad temática: hagiografías, comportamientos humanos... Importancia de lo didáctico -moral
                    </td>
                </tr>
                <tr class="bg-white border-b hover:bg-slate-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Lenguaje y estilo
                    </th>
                    <td class="px-6 py-4">
                        Sencillez expresiva: recursos de repetición y fórmulas épicas
                    </td>
                    <td class="px-6 py-4">
                        Mayor riqueza de recursos, dentro de la sencillez: recursos de repetición como alegorías, símbolos, etc.
                    </td>
                </tr>
                <tr class="bg-white border-b hover:bg-slate-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Finalidad
                    </th>
                    <td class="px-6 py-4">
                        Informativa y lúdica
                    </td>
                    <td class="px-6 py-4">
                        Didáctica y moralizadora
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>