<section>
    <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Contexto Histórico</h3>
    <div class="mx-8 sm:mx-12 lg:mx-40 text-justify">
        <p>Durante la Edad Media, la mayoría de la población era <strong>analfabeta</strong>, lo que hacía que <strong>solo los monjes supieran leer y escribir</strong>. Eran los únicos que poseían conocimientos, lo que les otorgaba un <strong>poder absoluto</strong>.</p>
        <br>
        <p>El <strong>sistema feudal</strong> fue una de las características clave de esta época, la gente del pueblo estaba <strong>destinada a obedecer al señor de las tierras</strong>. Todo esto gracias al <strong>pacto feudal</strong>, que consistía en que los campesinos <strong>juraban lealtad y ofrecían sus servicios y tierras</strong> a cambio de <strong>la protección del rey</strong>.</p>
        <br>
        <p></p>
    </div>
</section>