<section class="text-start">
    <h3 class="text-start text-3xl font-medium max-w-lg text-balance">Introducci贸n</h3>
    <div class="mx-4 sm:mx-8 mt-4 lg:-mb-10 xl:-mb-16">
        <p><b>Argumento:</b> Aportan informaci贸n esencial, <u class="font-medium">no</u> pueden ser eliminados</p>
        <p><b>Predicado:</b> Expresa la acci贸n o el estado del sujeto, <u class="font-medium">no</u> puede ser eliminado</p>
        <p><b>Adjuntos:</b> Aportan informaci贸n adicional, pueden ser eliminados</p>
    </div>
    <img class="mx-auto" src="Argumentos y adjuntos mapa conceptual.png" alt="Mapa Conceptual de argumentos, adjuntos y predicado">
</section>