<section class="grid gap-y-4 md:flex place-content-center md:justify-between py-3 px-6 md:px-24 bg-slate-200">
    <span class="text-pretty text-center md:text-left">Biel Montero Román | Instituto Estela Ibèrica</span>
    <span class="text-pretty text-center md:text-left">Web de Apuntes de Castellano 1º Bachillerato</span>
</section>