<section>
    <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">Fray Luis de León</h2>
    <section class="text-justify">
        <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Vida y contexto</h3>
        <p class="mx-8 sm:mx-12 lg:mx-40 max-w-[800px]">Fray Luis de León fue un teólogo y poeta que destacó como profesor en la Universidad de Salamanca. Defendía el estudio de textos en su lengua original y eso hico que lo acusara la Inquisición por traducir la Biblia al castellano. Pasó cuatro años en prisión, luego volvió a su vida normal.</p>
    </section>
    <section class="text-justify">
        <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Vida y contexto</h3>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
            <p class="ml-8 sm:ml-12 lg:ml-40 max-w-[800px]">Fray Luis de León fue un teólogo y poeta que destacó como profesor en la Universidad de Salamanca. Defendía el estudio de textos en su lengua original y eso hico que lo acusara la Inquisición por traducir la Biblia al castellano. Pasó cuatro años en prisión, luego volvió a su vida normal.</p>
            <img class="rounded h-96" src="Fray Luis de Leon.jpeg" alt="Ilustracion de Fray Luis de Leon" />
        </div>
    </section>
    <section class="text-left">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Temática y estilo</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li>Busca la paz y la soledad a través de la naturaleza.</li>
            <li>Influencia del estoicismo y el neoplatonismo.</li>
            <li>Lenguaje claro y sencillo.</li>
        </ul>
    </section>
    <section class="text-left">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Obra destacada</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li><b>Oda a la vida retirada:</b> elogio de una vida tranquila y apartada del mundo material.</li>
            <li><b>Al salir de la cárcel:</b> reflexiona sobre su experiencia en prisión.</li>
            <li><b>Oda a salinas:</b> conexión entre la música y la elevación espiritual.</li>
        </ul>
    </section>
</section>