<section>
    <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">Garcilaso de la Vega</h2>
    <section class="text-justify">
        <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Vida y contexto</h3>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
            <p class="ml-8 sm:ml-12 lg:ml-40 max-w-[800px]">Garcilaso de la Vega fue un poeta y soldado con un origen noble, vinculado a la corte de Carlos V. Su vida estuvo marcada por la guerra y el amor, ya que se enamoró de Isabel Freyre, quien inspiró gran parte de su obra. Tuvo bastante influencia de la poesía italiana. Murió a los 36 años en un combate en Provenza.</p>
            <img class="rounded h-96" src="Garcilaso de la Vega.jpg" alt="Ilustracion de Garcilaso de la Vega" />
        </div>
    </section>
    <section class="text-balance">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Etapas literarias</h3>
        <div class="flex flex-wrap gap-16 justify-center">
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Etapa castellana</h2>
                <p class="text-left pl-10 mt-4 text-lg">Creaba poesía en versos octosílabos.</p>
            </article>
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Etapa italiana o petrarquista</h2>
                <p class="text-left pl-10 mt-4 text-lg">Adopta el soneto y el verso endecasílabo.</p>
            </article>
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Etapa clásica o napolitana</h2>
                <p class="text-left pl-10 mt-4 text-lg">Le influyen autores latinos como Horacio y Virgilio.</p>
            </article>
        </div>
    </section>
    <section class="text-left">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Características</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li>Introduce nuevas estrofas: <b>el soneto</b> y <b>el terceto encadenado</b>.</li>
            <li>Predominan temas amorosos y mitológicos, abandona los temas religiosos.</li>
            <li>Idealiza la naturaleza y usa recursos literarios como la personificación.</li>
            <li>Intención de capturar el paso del tiempo y de hacer eterno lo efímero.</li>
        </ul>
    </section>
    <section class="text-left">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Obra destacada</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li><b>Égloga I:</b> expresa su dolor por la muerte de Isabel Freyre.</li>
            <li><b>Égloga III:</b> mezcla de mitología y experiencia personal en un paisaje idealizado.</li>
        </ul>
    </section>
    <section class="text-left">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Importancia</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li>Introdujo la poesía italiana en España.</li>
            <li>Creó un lenguaje poético refinado, musical y expresivo.</li>
            <li>Influyó a poetas como Gustavo Adolfo Bécquer.</li>
        </ul>
    </section>
</section>