<header class="bg-[#e6e6e6] flex justify-between items-center px-12 max-w-[1500px] mx-auto py-8 rounded-xl shadow-lg mb-20">
    <h1 class="text-5xl font-semibold">Apuntes de Castellano</h1>
    <nav class="flex gap-x-4">
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Vocabulario</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Gramática</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Verbos</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Conversación</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Cultura</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Recursos</a>
    </nav>
</header>