<section class="border-black border-2 rounded-3xl pb-12">
    <h3 class="text-2xl font-semibold mx-4 sm:ml-8 lg:ml-12 mt-10 md:mt-16 mb-6 text-pretty">Mester de Clerecía</h3>
    <div class="mx-8 sm:ml-20 lg:mx-20">
        <p>El Mester de Clerecía era una escuela de escritores cultos que <strong>se dedicaban a la composición de obras religiosas y morales</strong> en verso, utilizando la cuaderna vía.</p>
        <section class="ml-4">
            <h4 class="-ml-4 text-xl font-semibold mt-10 mb-4">Características Principales</h4>
            <ul class="mt-4 ml-6 list-disc">
                <li><strong>Transmisión:</strong> Oral</li>
                <li><strong>Temas:</strong> Hazañas epicas y heroicas</li>
                <li><strong>Finalidad:</strong> Informativa y lúdica</li>
            </ul>
        </section>
        <section class="mt-10 ml-4">
            <h4 class="-ml-4 text-xl font-semibold mt-10 mb-4">Cantares de gesta</h4>
            <ul class="mt-4 ml-6 list-disc">
                <li>Libro de Apolonio</li>
                <li>Libro de Alexandre</li>
                <li>Poema de Fernán González</li>
            </ul>
        </section>
        <section class="ml-4">
            <h4 class="-ml-4 text-xl font-semibold mt-10 mb-4">Lenguaje y estilo</h4>
            <ul class="mt-4 ml-6 list-disc">
                <li>Sencillez expresiva: recursos de repetición y fórmulas épicas</li>
            </ul>
        </section>
    </div>
</section>