<section class="text-pretty mt-20">
    <h2 class="text-2xl font-semibold ml-2 lg:ml-28 mb-6 text-pretty">Cantar de Mio Cid:</h2>
    <div class="mx-8 sm:mx-12 lg:mx-40">
        <p class="ml-2 mb-6">Este es el relato de un <strong>caballero que ha sido injustamente desterrado</strong> por el rey y durante la história va <strong>ganando el honor</strong> hasta volver ha vivir en las tierras con su família.</p>
    <ul class="block ml-6 list-disk mb-6">
        <li><strong>3.730 versos</strong> (Es el que tenemos más completo)</li>
        <li><strong>Manuscrito del siglo XIV</strong></li>
        <li><strong>Firmado por el copista Per Abbat</strong></li>
    </ul>
    <section class="ml-2">
        <p>Esta obra se divide en 3 partes:</p>
        <ul class="list-decimal ml-10">
            <li><strong>Cantar del destierro:</strong> el Cid es desterrado y deja a su familia en un monasterio.</li>
            <li><strong>Cantar de las bodas:</strong> tras la conquista de Valencia, sus hijas se casan con los infantes de Carrión.</li>
            <li><strong>Cantar de la afrenta de Corpes:</strong> los infantes maltratan a las hijas del Cid, quien consigue que los encarcelen y a sus hijas las casa con los infantes de Aragón y Navarra.</li>
        </ul>
    </section>
    </div>
</section>