<section class="flex-col lg:hidden items-center justify-between py-4 bg-[#e6e6e6]">
    
    <div class="flex justify-center mx-3">
        <h1 class="text-4xl font-semibold mx-14 text-center">Apuntes de Castellano</h1>
        <img id="menu" class="cursor-pointer fixed right-4" width="48px" src="./menu.svg" alt="icono menu">
    </div>
    <nav id="navbar" class="hidden place-content-center text-center gap-3 mt-4 transition">
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Vocabulario</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Gramática</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Verbos</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Conversación</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Cultura</a>
        <a class="hover:scale-105 font-semibold hover:underline transition hover:bg-slate-300 rounded-xl px-2 py-1" href="">Recursos</a>
    </nav>
</section>
<script type="module">
    let isOpen = false
    const menuBtn = document.getElementById('menu')
    const navBar = document.getElementById('navbar')
    menuBtn.src = "./menu.svg"

    menuBtn.addEventListener('click', function() {
        if (!isOpen) {
            navBar.classList.remove('hidden');
            navBar.classList.add('grid');
        } else {
            navBar.classList.remove('grid');
            navBar.classList.add('hidden');
        }
        isOpen = !isOpen;

        if (isOpen) {
            menuBtn.src = './close.svg';
        } else {
            menuBtn.src = './menu.svg';
        }
    });
</script>