<section>
    <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">San Juan de la Cruz</h2>
    <section class="text-justify">
        <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Vida y contexto</h3>
        <p class="mx-8 sm:mx-12 lg:mx-40 max-w-[800px]">San Juan de la Cruz estudió en Salamanca, donde conoció a fray Luis de León y tuvo acceso a sus traducciones. Influenciado por Santa Teresa de Jesús, colaboró en la reforma del Carmelo Descalzo. Sus ideas renovadoras hicieron que sus propios compañeros de orden lo encarcelaran por desconfianza.</p>
    </section>
    <section class="text-left">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Temática y estilo</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li>Poesía mística que se centra en la unión del alma con Dios.</li>
            <li>Influencia del Cantar de los Cantares y de la tradición petrarquista.</li>
            <li>Lenguaje simbólico y uso de imágenes amorosas para representar la experiencia espiritual.</li>
        </ul>
    </section>
    <section class="text-left">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Obra destacada</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li><b>Cántico espiritual:</b> diálogo entre el alma (la "amada") y Dios (el "amado").</li>
            <li><b>Noche oscura del alma:</b> describe el proceso de purificación espiritual.</li>
            <li><b>Llama de amor viva:</b> expresa el éxtasis místico.</li>
        </ul>
    </section>
</section>