---
import TemasItem from "./TemasItem.astro"

import { temas } from "../lib/temas";
---
<section class="flex flex-wrap gap-6 justify-center mt-8 mx-6">
    {
        temas.map(tema => (
        tema.descripcion 
        ? <TemasItem {...tema} />
        : null
        ))
    }
</section>