<section class="text-start">
    <h2 class="text-3xl font-medium">Biografía</h2>
    <div class="ml-8 my-4">
        <p class="text-balance">Jorge Manrique fue poeta del siglo <b>XV.</b> Nació en una familía que pertenecía a la nobleza. La única obra de gran importancía que hizo fue <b>'Coplas por la muerte de su padre'.</b></p>
    </div>
    <h2 class="text-3xl font-medium mt-14">Obra</h2>
    <div class="ml-8 my-4">
        <p>El tema de esta obra es la <b>muerte.</b> La muerte se ve desde dos perspectivas:</p>
        <ul class="list-disc ml-8">
            <li>La cristiana: te abre las puertas a la vida eterna</li>
            <li>Danzas de la muerte: Un <b>personaje terrorífico</b> se aparece y te tortura hechandote en cara </b>todo lo que has hecho mal</b> en tu vida</li>
        </ul>
        <p class="mt-4">Esta elegía esta escrita en <b>copla de pie quebrado:</b> doce versos agrupados en dos sextillas, cada sextilla contiene una serie de dos octosílabos y un tetrasílabo, y así consecutivamente.</p>
        <p class="my-4">La <b>copla de pie quebrado</b> crea un ritmo entrecortado, ceremonioso y fúnebre.</p>
        <p>Esta obra se puede dividir en tres partes:</p>
        <ul class="list-disc ml-8 mb-10">
            <li><b>Vida terrenal</b>, fugaz y los vaivenes de la fortuna ➡️ <b>Muerte Abstracta.</b></li>
            <li><b>Vida de la fama</b>, una vida auténtica y honorable ➡️ <b>Muerte Histórica.</b></li>
            <li><b>Vida eterna</b>, la verdadera vida ➡️ <b>Muerte Particular.</b></li>
        </ul>
    </div>
</section>