<section>
    <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">Contexto Histórico</h2>
    <section class="text-left">
        <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Características</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li>Movimiento cultural que supone un cambio de mentalidad.</li>
            <li>Antropocentrismo: el ser humano como el centro del universo.</li>
            <li>Se abandona el teocentrismo de la Edad Media y el mundo ya no se ve como el "Valle de las lágrimas".</li>
            <li>La naturaleza se idealiza (<i>locus amoenus</i>).</li>
            <li>Retorno a los clásicos de Grecia.</li>
        </ul>
    </section>
    <section class="text-balance">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Influencias filosóficas</h3>
        <div class="flex flex-wrap gap-16 justify-center">
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Escepticismo</h2>
                <p class="text-left pl-10 mt-4 text-lg">Actitud crítica frente al dogmatismo medieval.</p>
            </article>
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Epicureísmo</h2>
                <p class="text-left pl-10 mt-4 text-lg">Invita a disfrutar moderadamente de la vida.</p>
            </article>
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Estoicismo</h2>
                <p class="text-left pl-10 mt-4 text-lg">Dominio de las pasiones y la serenidad ante la adversidad.</p>
            </article>
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Erasmismo</h2>
                <p class="text-left pl-10 mt-4 text-lg">Defiende una religiosidad más íntima y basada en la pureza.</p>
            </article>
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Neoplatonismo</h2>
                <p class="text-left pl-10 mt-4 text-lg">Idealiza la belleza como reflejo de lo divino.</p>
            </article>
        </div>
    </section>
    <section class="text-left">
        <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">El Renacimiento en España</h3>
        <p class="my-4 mx-32">El Renacimiento en España se divide en 2 etapas:</p>
        <h4 class="text-xl font-semibold mx-32">Primer Renacimiento (1ª mitad del siglo XVI)</h4>
        <ul class="mx-8 sm:mx-12 lg:mx-44 list-disc my-4">
            <li>Expansión de las ideas humanistas europeas bajo el reinado de Carlos I.</li>
            <li>Influencia del pensamiento renacentista italiano.</li>
            <li>Destaca Garcilaso de la Vega como principal autor.</li>
        </ul>
        <h4 class="text-xl font-semibold mx-32">Segundo Renacimiento (2ª mitad del siglo XVI)</h4>
        <ul class="mx-8 sm:mx-12 lg:mx-44 list-disc my-4">
            <li>Contexto de la Contrarreforma y censura para evitar influencias protestantes.</li>
            <li>Reinado de Felipe II, defensor del catolicismo.</li>
            <li>Auge de valores como la honra y la limpieza de sangre.</li>
            <li>Destacan Fray Luis de León y san Juan de la Cruz.</li>
        </ul>
    </section>
    <section class="text-balance">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Temas y formas literarias</h3>
        <div class="flex flex-wrap gap-16 justify-center">
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Amor</h2>
                <p class="text-left pl-10 mt-4 text-lg">Basado en la visión petrarquista, donde la amada eleva al enamorado.</p>
            </article>
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Naturaleza</h2>
                <p class="text-left pl-10 mt-4 text-lg">Símbolo de armonía y reflejo de los sentimientos (Églogas).</p>
            </article>
            <article class="bg-emerald-50 w-80 lg:w-[300px] py-6 px-2 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                <h2 class="text-2xl text-center font-semibold">Mitología</h2>
                <p class="text-left pl-10 mt-4 text-lg">Incorpora elementos grecolatinos para dar un tono elevado a la literatura.</p>
            </article>
        </div>
    </section>
    <section class="text-left">
        <h3 class="text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Formas poéticas</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li>Se introduce el verso <b>endecasílabo</b> en lugar del octosílabo.</li>
            <li>Uso de nuevas estrofas: <b>soneto, tercetos encadenados, lira y silva</b>.</li>
            <li>Se busca <b>naturalidad y emoción</b> auténtica en la expresión poética.</li>
        </ul>
    </section>
</section>