<section>
    <h2 class="text-3xl font-semibold text-left ml-2 lg:ml-20 mt-10 md:mt-16 underline">Léxico y su Etimología</h2>
    <section class="text-justify">
        <p class="mx-8 mt-10 sm:mx-12 mb-4 lg:mx-32 max-w-[800px]">Llamamos doblete a la pareja de palabras que procede de la misma base, pero presentan diferentes evoluciones fonéticas.</p>
        <p class="mx-8 sm:mx-12 lg:mx-40 max-w-[800px]"><b>Ej:</b> Delgado y Delicado ➡️ Delicatus</p>
        <p class="mx-8 sm:mx-12 lg:mx-40 max-w-[800px]"><b>Ej:</b> Colocar y Colgar ➡️ Collocare</p>
    </section>
    <section class="text-left">
        <h3 class="text-left text-2xl font-semibold ml-2 lg:ml-28 mt-10 md:mt-16 mb-6">Clasificación según su procedencia</h3>
        <ul class="mx-8 sm:mx-12 lg:mx-40 list-disc">
            <li><b>Léxico heredado:</b> Lo forman los cultismos (<i>Apicultura</i>) y palabras patrimoniales (<i>Abeja</i>).</li>
            <li><b>Léxico multiplicado:</b> Se trata de vocablos patrimoniales que se han sometido a algún proceso de formación de palabras.</li>
            <span class="mx-4"><b>Ej:</b> Diente ➡️ Dentista, amor ➡️ enamorarse</span>
            <li><b>Léxico adquirido:</b> Son préstamos de otras lenguas.</li>
            <span class="mx-4"><b>Ej:</b> Airbag, bodi, fútbol...</span>
        </ul>
    </section>
</section>