---
import MesterJuglaria from "./MesterJuglaria.astro"
import MesterClerecia from "./MesterClerecia.astro"
---

<section class="grid grid-cols-1 lg:grid-cols-2 gap-32 mx-4 md:mx-24">
    <MesterJuglaria/>
    <MesterClerecia/>
</section>