---
import Card from "../components/Card.astro";
import { topicosLiterarios } from "../lib/topicosLiterarios";
---

<section>
    <h3 class="text-start text-3xl font-medium max-w-lg text-balance">Topicos Literarios mas utilizados por Jorge Manrique</h3>
        <section class="flex flex-wrap justify-center lg:justify-around gap-7 mt-20">
            {
                topicosLiterarios.map(topico => (
                    <Card title={topico.topico} info={topico.descripcion}/>
                ))
            }
        </section>
</section>